*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "General Sans";
}

html,body{
  width: 100%;
  height: 100%;
}
.main{
  width: 100%;
  /* background-color: #40A2D8; */
}
.start{
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: rgb(95, 132, 148);

}
.nav{
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  
  color: #ffff;
 
    /* border-radius: 9px;
    
    box-shadow: 0 5px 20px rgba(0,0,0,0.4); */
}
.nav a{
  color: #ffff;
  font-size: 35px;
text-decoration: none;  
margin-left: 1rem;

}
.nav .nav_left a{
font-weight: 500;

}
.nav .nav_left span{
  font-weight: 40;
  display: grid;
  line-height: 3px;
  text-align: center;
 cursor: pointer;
  }

    
  .nav .nav_right ul li {
    display: inline-block;
    list-style: none;
    font-size: 1.5rem;
    padding: 0 10px;
    margin: 0 20px;
    cursor: pointer;
    position: relative;
  }
   .nav .nav_right ul li:after{
    content: '';
    width: 0;
    height: 3px;
    background: #2192ff;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
  }
  .nav_right ul li:hover::after{
    width:100%;
  }
.videobg{
  position: relative;
  margin-top: 90px;
  text-align: center;
  
}
.videobg h2{
  font-size: 100px;
  color: #ffff;
}
.videobg a{
  text-decoration: none;
  color: #ffff;
  font-size: 30px;
display: inline-block;
border: 2px solid #fff;
padding: 14px 70px;
border-radius: 50px;
margin-top: 20px;
}

/* @media(min-aspect-ratio:16/9){
  .back-video{
    width: auto;
    height: 100%;
  }
}
@media(max-aspect-ratio:16/9){
  .back-video{
    width: auto;
    height: 100%;
  }
}  */
video{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  object-fit: cover;
}