*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "General Sans";
 
}

html,body{
  width: 100%;
  height: 100%;
}
.main{
  /* width: 100%; */
 
  background-color: #ffff;
}
.start{
  position: relative;
  /* width: 100%; */
  overflow: hidden;
  height: 200vh;
  background-color: rgb(95, 132, 148);


}
.nav{
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  
  color: #ffff;
 
    /* border-radius: 9px;
    
    box-shadow: 0 5px 20px rgba(0,0,0,0.4); */
}
.nav a{
  color: #ffff;
  font-size: 35px;
text-decoration: none;  
margin-left: 1rem;

}
.nav .nav_left a{
font-weight: 500;

}
.nav .nav_left span{
  font-weight: 40;
  display: grid;
  line-height: 3px;
  text-align: center;
 cursor: pointer;
  }

    
  .nav .nav_right ul li {
    display: inline-block;
    list-style: none;
    font-size: 1.5rem;
    padding: 0 10px;
    margin: 0 20px;
    cursor: pointer;
    position: relative;
  }
   .nav .nav_right ul li:after{
    content: '';
    width: 0;
    height: 3px;
    background: #2192ff;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
  }
  .nav_right ul li:hover::after{
    width:100%;
  }
.videobg{
  position: relative;
  margin-top: 90px;
  text-align: center;
  
}
.videobg h2{
  font-size: 100px;
  color: #ffff;
}
.videobg a{
  text-decoration: none;
  color: #ffff;
  font-size: 30px;
display: inline-block;
border: 2px solid #fff;
padding: 14px 70px;
border-radius: 50px;
margin-top: 20px;
}


video{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  bottom: 0;
  object-fit: cover;
}
.button {
  margin-top: 15rem;
  padding: 1em 2em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  cursor: pointer;
  color: #2c9caf;
  transition: all 1000ms;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  outline: 2px solid #2c9caf;
  border-radius: 50px;
}

button:hover {
  color: #fff;
  transform: scale(1.1);
  outline: 2px solid #70bdca;
  box-shadow: 4px 5px 17px -4px #268391;
}

button::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #2c9caf;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

button:hover::before {
  width: 250%;
}
.container.fullwidth {
  width: 100%;
}

.container{
 
  width: 100%;
  height: 100vh;
}
.row{
  display: grid;
  align-items: center;
  justify-content: center;
  margin: 40px;
  h1 {
  font-size: 56px;
}

}

.wrapper {
  height: 50%;
  width: 100%;
  padding: 5px 50px;
  /* max-width: 1200px; */
  text-align: center;
  margin-left: 0;
  margin-right: 10px;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.parent {
  width: 400px;
  margin: 20px;
  height: 300px;
  margin: 2rem 2rem;
  border: 1px solid blue;
  border-radius: 50px;
  overflow: hidden;
  position: relative;
  float: left;
  display: inline-block;
cursor: pointer;
box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.child {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  a {
    display: none;
    font-size: 35px;
    color: #ffffff !important;
    font-family: sans-serif;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50px;
    cursor: pointer;
    text-decoration: none;
}
}
.parent:hover .child, .parent:focus .child {
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.parent:hover .child:before, .parent:focus .child:before {
  display: block;
}

.parent:hover a, .parent:focus a {
  display: block;
}

.child:before {
  content: "";
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(52,73,94,0.75);
}

/* Media Queries */
@media screen and (max-width: 960px) {
  .parent {width: 100%; margin: 20px 0px}
  .wrapper {padding: 20px 20px;}
}




/* .hello {display: none} */
.bg-one {
  width: 400px;
  height: 300px;
  background-image: url(https://wallpaperaccess.com/full/2304648.jpg);
}
.bg-two{
  width: 400px;
  height: 300px;
  background-image: url(https://ebhubaneswar.com/wp-content/uploads/2021/04/bali-yatra-hd-image.jpg);
}
.bg-three{
  width: 400px;
  height: 300px;
  background-image: url(https://sambadenglish.com/wp-content/uploads/2020/10/puri-beach-1.jpg);
}
.bg-four{
  width: 400px;
  height: 300px;
  background-image: url(https://travelandtrekking.com/wp-content/uploads/2020/05/Daringbadi-odisha.jpg);
}
.bg-five{
  width: 400px;
  height: 300px;
  background-image: url(https://scontent.fmaa8-1.fna.fbcdn.net/v/t1.6435-9/128999621_169463071553450_4441088482315439017_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=5f2048&_nc_ohc=1ULK6j305IQAX8yLzTZ&_nc_ht=scontent.fmaa8-1.fna&oh=00_AfDSzZm8KqWje3H_i62zggJGdCzqlqDsUpOMR-_S6lt4fA&oe=6634A77B);
}
.bg-six{
  width: 400px;
  height: 300px;
  background-image: url(https://sambadenglish.com/wp-content/uploads/2020/10/puri-beach-1.jpg);
}


.footer {
  position: absolute;
  top: 400%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1500px;
  width:100%;
  height: 50vh;
  background: #10182F;
  border-radius: 6px;
}

.footer .footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3.5rem;
  padding: 60px;
}

.footer-row .footer-col h4 {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
}

.footer-col .links {
  margin-top: 20px;
}

.footer-col .links li {
  list-style: none;
  margin-bottom: 10px;
}

.footer-col .links li a {
  text-decoration: none;
  color: #bfbfbf;
}

.footer-col .links li a:hover {
  color: #fff;
}

.footer-col p {
  margin: 20px 0;
  color: #bfbfbf;
  max-width: 300px;
}

.footer-col form {
  display: flex;
  gap: 5px;
}

.footer-col input {
  height: 40px;
  border-radius: 6px;
  background: none;
  width: 100%;
  outline: none;
  border: 1px solid #7489C6 ;
  caret-color: #fff;
  color: #fff;
  padding-left: 10px;
}

.footer-col input::placeholder {
  color: #ccc;
}

 .footer-col form button {
  background: #fff;
  outline: none;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s ease;
}

.footer-col form button:hover {
  background: #cecccc;
}

.footer-col .icons {
  display: flex;
  margin-top: 30px;
  gap: 30px;
  cursor: pointer;
}

.footer-col .icons i {
  color: #afb6c7;
}

.footer-col .icons i:hover  {
  color: #fff;
}

@media (max-width: 768px) {
  .footer {
    position: relative;
    bottom: 0;
    left: 0;
    transform: none;
    width: 100%;
    border-radius: 0;
  }

  .footer .footer-row {
    padding: 20px;
    gap: 1rem;
  }

  .footer-col form {
    display: block;
  }

  .footer-col form :where(input, button) {
    width: 100%;
  }

  .footer-col form button {
    margin: 10px 0 0 0;
  }
}

/* cuttack.html  */


.middle{
  width: 100%;
  height: 100vh;
 margin: 50px;
  display: inline-flexbox;
  justify-content: center;
  align-items:top;
}
.part{
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
  
 
}
.card {
  position: relative;;
  padding: 0%;
  margin: 50px;
  width: 350px;
  height: 300px;
  color: #2e2d31;
  background: #131313;
  overflow: hidden;
  border-radius: 20px;
}

.temporary_text {
  font-weight: bold;
  font-size: 24px;
  padding: 0px 0px;
  color: #f8f8f8;
   img{
    height: 100%;
    width: 105%;
   
    /* border-radius: 5px; */
    
   }
}

.card_title {
  font-size: 20px;
  font-weight: 600;
}

.card_content {
  position: absolute;
  left: 0;
  bottom: 0;
    /* edit the width to fit card */
  width: 100%;
  padding: 23px;
  background: #f2f2f2;
  border-top-left-radius: 20px;
    /* edit here to change the height of the content box */
  transform: translateY(150px);
  transition: transform .25s;
  a{
    text-decoration: none;
    color: black;
}
}

.card_content::before {
  content: '';
  position: absolute;
  top: -47px;
  right: -45px;
  width: 100px;
  height: 100px;
  transform: rotate(-175deg);
  border-radius: 50%;
  box-shadow: inset 50px 48px #f2f2f2;
}

.card_title {
  color: #131313;
  line-height: 15px;
  
}

.card_subtitle {
  display: block;
  font-size: 12px;
  margin-bottom: 10px;
}

.card_description {
  font-size: 14px;
  opacity: 0;
  transition: opacity .5s;
}

.card:hover .card_content {
  transform: translateY(0);
}

.card:hover .card_description {
  opacity: 1;
  transition-delay: .25s;
}


.rapper{
  padding: 10px 10%;
}
#card-area{
  padding: 50px 0;
}
.box-area{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.box {
  width: 80%;
  height: 110%;
border-radius: 10px;
position: relative;
overflow: hidden;
box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
}
.box img{
  width:100%;
  height: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}
.overlay {
width: 100%;
height: 0;
background: linear-gradient(transparent,#1c1c1c 58%);
border-radius: 10px;
position: absolute;
left: 0;
bottom: 0;
overflow: hidden;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
padding: 0 40px;
text-align: center;
font-size: 14px;
transition: height 0.5s;
}
.overlay h3 {
font-weight: 500;
margin-bottom: 5px;
margin-top: 50%;
color: #fff;
font-family: 'Bebas Neue', sans-serif;
font-size: 40px;
letter-spacing: 2px;
}
.overlay a {
margin-top: 5px;
color: #262626;
text-decoration: none;
font-size: 14px;
background: #fff;
border-radius: 50px;
text-align: center;
padding: 5px 15px;
}
.box:hover img{
  transform: scale(1.1);
}
.box:hover .overlay{
  height: 100%;
}















